n8n/WhatsApp Agent Jak BDDV2 V3.json
{
  "name": "WhatsApp Agent Jak BDDV2 V2",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Analytics de la vectorisation\nconst inputItems = $input.all();\nconst totalDocuments = inputItems.length;\n\n// Calculer les statistiques\nconst stats = {\n  total_documents: totalDocuments,\n  timestamp: new Date().toISOString(),\n  documents_by_type: {},\n  documents_by_category: {},\n  total_content_length: 0,\n  average_content_length: 0\n};\n\n// Analyser chaque document\nfor (const item of inputItems) {\n  const doc = item.json;\n  \n  // Compter par type\n  const type = doc.metadata?.type || 'unknown';\n  stats.documents_by_type[type] = (stats.documents_by_type[type] || 0) + 1;\n  \n  // Compter par catégorie\n  const category = doc.metadata?.category || 'unknown';\n  stats.documents_by_category[category] = (stats.documents_by_category[category] || 0) + 1;\n  \n  // Calculer longueur contenu\n  const contentLength = doc.content?.length || 0;\n  stats.total_content_length += contentLength;\n}\n\n// Calculer moyenne\nstats.average_content_length = Math.round(stats.total_content_length / totalDocuments);\n\nconsole.log('=== VECTORISATION BDD JAK COMPANY TERMINÉE ===');\nconsole.log('Total documents vectorisés:', stats.total_documents);\nconsole.log('Répartition par type:', JSON.stringify(stats.documents_by_type, null, 2));\nconsole.log('Répartition par catégorie:', JSON.stringify(stats.documents_by_category, null, 2));\nconsole.log('Longueur moyenne du contenu:', stats.average_content_length, 'caractères');\n\nreturn [{\n  json: {\n    status: 'success',\n    message: 'Vectorisation BDD JAK Company terminée avec succès',\n    statistics: stats,\n    next_steps: [\n      'Tester la recherche vectorielle',\n      'Intégrer le RAG tool dans l\\'AI Agent',\n      'Valider les résultats avec des requêtes test'\n    ]\n  }\n}];"
      },
      "id": "927901bb-f8b5-4a2d-aac0-73ca54255a69",
      "name": "Vectorisation Analytics1",
      "type": "n8n-nodes-base.code",
      "position": [
        1700,
        1280
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {
          "batchSize": 100,
          "stripNewLines": true
        }
      },
      "id": "6a9c7afb-3237-49df-acdf-e62c3f12c662",
      "name": "OpenAI Embeddings JAK2",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        1060,
        1880
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "AGfUUiBI5vVkaYxI",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there! 👋\nMy name is Bobby. How can I assist you today?",
        "options": {}
      },
      "id": "805f30d6-af77-4788-b623-ac47edf6df51",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -1960,
        1140
      ],
      "webhookId": "fbcde41e-0d9d-455a-a5d4-9434e8a4a145"
    },
    {
      "parameters": {},
      "id": "7b38fa5e-1ab4-4655-8deb-7148afc399fb",
      "name": "Manual Test Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -1060,
        1540
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "https://drive.google.com/file/d/1C6gDZD-GTc8Yc2GBbs3lLX4ocskr9Wqm/",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -720,
        1540
      ],
      "id": "6ba45a9f-58f1-479c-9cb3-c395244e57f6",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "BoSdrr1DYv9SHrWq",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "source",
                "value": "jak_bdd_pdf"
              },
              {
                "name": "document_type",
                "value": "knowledge_base"
              },
              {
                "name": "category",
                "value": "={{ $json.metadata?.category || 'general' }}"
              },
              {
                "name": "priority",
                "value": "={{ $json.metadata?.priority || 1 }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1340,
        1660
      ],
      "id": "d64c3992-b581-46a5-8c90-b7d6beafc7e1",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "id": "543f9ea5-56ad-473d-8e00-21efb071ded9",
      "name": "Supabase Vector Store 1",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "position": [
        1140,
        1400
      ],
      "typeVersion": 1,
      "credentials": {
        "supabaseApi": {
          "id": "5j5hfRIonFV8xgya",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {
          "keepSource": "both"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -180,
        1540
      ],
      "id": "9f207bcf-9361-4a96-a49f-daef9195dad1",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "separator": "=////CUT////",
        "chunkSize": 500
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1420,
        1880
      ],
      "id": "64d756a0-0daa-4d24-b17c-c9d93c148847",
      "name": "Character Text Splitter"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://langchainagentv2-weiwei.onrender.com/optimize_rag",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": \"{{ $('When chat message received').item.json.chatInput }}\",\n  \"session_id\": \"{{ $('When chat message received').item.json.sessionId || 'default_session' }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1560,
        1040
      ],
      "id": "e83cecfa-f754-4633-8c9e-96be89b300cd",
      "name": "Call RAG Optimizer1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {
          "systemMessage": "=== INSTRUCTIONS CONTEXTUELLES ULTRA-RENFORCÉES ===\n{{ $('Call RAG Optimizer1').first().json.system_instructions }}\n\n=== BLOC DÉTECTÉ PAR RAG OPTIMIZER ===\nBLOC CIBLÉ : {{ $('Call RAG Optimizer1').first().json.bloc_id }}\nREQUÊTE OPTIMISÉE : \"{{ $('Call RAG Optimizer1').first().json.search_query }}\"\nCONTEXTE REQUIS : {{ $('Call RAG Optimizer1').first().json.context_needed }}\nPRIORITÉ : {{ $('Call RAG Optimizer1').first().json.priority_level }}\n\n=== RÈGLES ABSOLUES ULTRA-STRICTES ===\n\n🔍 **RECHERCHE OBLIGATOIRE** :\n- Utilise TOUJOURS l'outil Supabase Vector Store avec la requête optimisée\n- L'outil va automatiquement filtrer par bloc_id = \"{{ $('Call RAG Optimizer1').first().json.bloc_id }}\"\n- Pour \"j'ai pas été payé\" → Doit chercher et trouver BLOC A\n\n📋 **APPLICATION DU CONTENU TROUVÉ** :\n- Si tu trouves le bloc {{ $('Call RAG Optimizer1').first().json.bloc_id }} → Reproduis-le EXACTEMENT mot pour mot\n- TOUS les emojis doivent être préservés 🔥💪📞✅\n- AUCUNE modification, adaptation ou interprétation\n- JAMAIS de mélange avec d'autres blocs\n\n⚠️ **GESTION D'ÉCHEC DE RECHERCHE** :\n- Si l'outil Supabase ne retourne AUCUN résultat pour {{ $('Call RAG Optimizer1').first().json.bloc_id }}\n- ET should_escalade={{ $('Call RAG Optimizer1').first().json.should_escalade }} = true\n- ALORS → \"Je rencontre un problème technique. Puis-je vous rediriger vers un conseiller ? 📞\"\n\n💬 **TON ET AUTHENTICITÉ** :\n- Ton chaleureux JAK Company obligatoire\n- Emojis naturels dans les réponses\n- Reste humain et authentique\n\n🎯 **CAS SPÉCIAUX PRIORITAIRES** :\n- BLOC A (paiement) : Appliquer filtrage si délai > 45 jours CPF\n- BLOC D (ambassadeur) : 4 étapes complètes\n- BLOC K (formations) : Catalogue complet\n- Définitions : Réponse précise et complète\n\n📊 **INFORMATIONS DE SESSION** :\nSession : {{ $('Call RAG Optimizer1').first().json.session_id }}\nType financement : {{ $('Call RAG Optimizer1').first().json.financing_type || 'Non détecté' }}\nEscalade requise : {{ $('Call RAG Optimizer1').first().json.should_escalade }}\n\n🚨 **DEBUG - EN CAS DE PROBLÈME** :\nSi tu ne trouves pas le contenu pour {{ $('Call RAG Optimizer1').first().json.bloc_id }}, \nRAPPORTE : \"[DEBUG] Recherche {{ $('Call RAG Optimizer1').first().json.bloc_id }} - Aucun résultat Supabase\"\nPuis propose une escalade vers un conseiller humain."
        }
      },
      "id": "e03bb7a0-3369-4dae-9eab-0fc692590327",
      "name": "RAG AI Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -740,
        540
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "c62b3d8d-889d-4b63-8545-49a127050768",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -700,
        1020
      ],
      "credentials": {
        "openAiApi": {
          "id": "AGfUUiBI5vVkaYxI",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Call RAG Optimizer1').first().json.session_id || 'default_session' }}"
      },
      "id": "b8035e18-0cbe-4def-8761-e5b6d8912348",
      "name": "Postgres Chat Memory1",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1,
      "position": [
        -480,
        940
      ],
      "notesInFlow": false,
      "credentials": {
        "postgres": {
          "id": "T2qbeS5wdx0NKd6L",
          "name": "Postgres SUPABASE"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "batchSize": 100,
          "stripNewLines": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -260,
        1140
      ],
      "id": "813addc9-d937-48e9-b8ea-e36d994a3105",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "AGfUUiBI5vVkaYxI",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "🔍 OUTIL DE RECHERCHE BLOC JAK COMPANY - STRUCTURE CORRIGÉE\n\nRecherche les blocs de réponses JAK Company dans Supabase avec la colonne bloc_id directe.\n\n📋 UTILISATION CORRIGÉE :\n- Filtre par la colonne bloc_id directe (pas metadata->>'bloc_id')\n- Utilise la requête optimisée du RAG Optimizer\n- Retourne le contenu exact des blocs\n\n🎯 BLOCS PRIORITAIRES :\n- BLOC A : Problèmes de paiement (\"j'ai pas été payé\")\n- BLOC D : Ambassadeurs (devenir/définition)\n- BLOC K : Formations disponibles\n- Tous autres blocs selon contexte\n\n⚠️ CRITIQUE : Reproduis EXACTEMENT le contenu trouvé avec TOUS les emojis !",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "topK": 10,
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -380,
        740
      ],
      "id": "e7fc0fdb-240d-407c-8906-a0b99aed21da",
      "name": "Supabase Vector Store ",
      "credentials": {
        "supabaseApi": {
          "id": "5j5hfRIonFV8xgya",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "content": "## RAG AI Agent with Chat Interface",
        "height": 885,
        "width": 933
      },
      "id": "f3c133f9-b910-4f72-a6f4-3166736f5809",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -820,
        420
      ]
    },
    {
      "parameters": {
        "content": "## 🚨 ACTIONS IMMÉDIATES À EFFECTUER\n\n### 1. EXÉCUTER LES NOUVELLES REQUÊTES SQL\n```sql\n-- Dans l'éditeur SQL Supabase :\nSELECT bloc_id, count(*) \nFROM documents \nWHERE bloc_id IS NOT NULL\nGROUP BY bloc_id;\n```\n\n### 2. VÉRIFIER BLOC A SPÉCIFIQUEMENT\n```sql\nSELECT * FROM documents \nWHERE bloc_id = 'BLOC A'\nLIMIT 1;\n```\n\n### 3. CRÉER/METTRE À JOUR LA FONCTION\n```sql\n-- Utiliser la fonction match_documents corrigée\n-- du code SQL fourni\n```\n\n### 4. TESTER LE WORKFLOW\n- Message : \"j'ai pas été payé\"\n- Doit retourner BLOC A exact\n- Vérifier les logs n8n\n\n### 5. EN CAS D'ÉCHEC\n- Vérifier que les données existent\n- Contrôler les embeddings\n- Tester la fonction match_documents",
        "height": 480,
        "width": 600
      },
      "id": "f2123577-f6b6-4872-9c63-8186d2a53132",
      "name": "🚨 ACTIONS IMMÉDIATES",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1020,
        -220
      ]
    },
    {
      "parameters": {
        "content": "## 🔧 CORRECTION CRITIQUE APPLIQUÉE\n\n### ❌ PROBLÈME IDENTIFIÉ :\nVotre table documents a une colonne `bloc_id` DIRECTE, pas dans `metadata->>'bloc_id'`\n\n### ✅ CORRECTIONS APPLIQUÉES :\n\n1. **Requêtes SQL corrigées** :\n   - `WHERE bloc_id = 'BLOC A'` au lieu de `metadata->>'bloc_id'`\n   - Fonction match_documents mise à jour\n\n2. **Nœud Supabase Vector Store 2** :\n   - Filtre par colonne bloc_id directe\n   - Description outil mise à jour\n   - Configuration filter corrigée\n\n3. **Prompt Agent** ultra-renforcé :\n   - Instructions spécifiques pour votre structure\n   - Debug intégré si pas de résultats\n   - Escalade automatique en cas d'échec\n\n### 🎯 STRUCTURE DE VOTRE TABLE :\n- `id` (bigint)\n- `content` (text) ← Contenu des blocs\n- `bloc_id` (text) ← BLOC A, BLOC B1, etc.\n- `metadata` (jsonb)\n- `embedding` (vector)\n- Autres colonnes...",
        "height": 700,
        "width": 800
      },
      "id": "2d76a497-3a68-409c-adc9-504e5fec0c8c",
      "name": "🔧 CORRECTION CRITIQUE",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        60,
        -360
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Embeddings JAK2": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store 1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Call RAG Optimizer1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Test Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store 1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store 1": {
      "main": [
        [
          {
            "node": "Vectorisation Analytics1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Supabase Vector Store 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Call RAG Optimizer1": {
      "main": [
        [
          {
            "node": "RAG AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "RAG AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "RAG AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store ",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store ": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Paris",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "eeea1ac7-40c8-48bf-b27d-4076e5108976",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6b2cf4f3d9b28e507a8c36ffb37c88179209c4713fb3f2f565c565589ee75b1e"
  },
  "id": "TKZ2oUbBYSOLjiN6",
  "tags": [
    {
      "createdAt": "2025-07-15T09:47:55.601Z",
      "updatedAt": "2025-07-15T09:47:55.601Z",
      "id": "6F8LClVZgyWsyPsK",
      "name": "JAK Company"
    },
    {
      "createdAt": "2025-06-11T10:43:11.223Z",
      "updatedAt": "2025-06-11T10:43:11.223Z",
      "id": "CWpb2RP1OjTkXMOH",
      "name": "WhatsApp"
    },
    {
      "createdAt": "2025-06-11T12:43:17.455Z",
      "updatedAt": "2025-06-11T12:43:17.455Z",
      "id": "HabTYLL8P1SnU454",
      "name": "Test Mode"
    },
    {
      "createdAt": "2025-07-22T07:52:17.518Z",
      "updatedAt": "2025-07-22T07:52:17.518Z",
      "id": "Jbk4yv5SooHdP5nb",
      "name": "RAG Optimisé"
    },
    {
      "createdAt": "2025-06-11T12:43:17.430Z",
      "updatedAt": "2025-06-11T12:43:17.430Z",
      "id": "Tx9Klt2D788Z0DZI",
      "name": "Development"
    },
    {
      "createdAt": "2025-07-15T09:47:55.412Z",
      "updatedAt": "2025-07-15T09:47:55.412Z",
      "id": "cIYb0D73ISCbcxaW",
      "name": "Vectorisation"
    },
    {
      "createdAt": "2025-06-11T10:53:43.569Z",
      "updatedAt": "2025-06-11T10:53:43.569Z",
      "id": "d7AIlsYUOlNK2RO4",
      "name": "OpenAI"
    },
    {
      "createdAt": "2025-06-11T10:43:11.272Z",
      "updatedAt": "2025-06-11T10:43:11.272Z",
      "id": "dQk57NB44pzqZ4On",
      "name": "Customer Service"
    },
    {
      "createdAt": "2025-07-15T09:47:55.346Z",
      "updatedAt": "2025-07-15T09:47:55.346Z",
      "id": "exJQTj1ufWal7OxH",
      "name": "RAG"
    },
    {
      "createdAt": "2025-06-11T10:43:11.246Z",
      "updatedAt": "2025-06-11T10:43:11.246Z",
      "id": "kpMwGcAtpoqomxqc",
      "name": "AI Agent"
    },
    {
      "createdAt": "2025-07-15T09:47:55.372Z",
      "updatedAt": "2025-07-15T09:47:55.372Z",
      "id": "sjDRQLvH0Fm1iTzg",
      "name": "Supabase"
    }
  ]
}